header ul{
	margin: 0;
	background-color: #4da52b;
	text-align: right;
	 padding-bottom: 22px;
    padding-top: 10px;
    padding-right: 10px;
}
header ul li{
	  display: inline-block;
	  color: black;
	  text-decoration: none;
}
img{
	float: left;
	size: 20px;
}
nav.main-menu{
float:right;
}
body{
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}